@mixin h2-title {
  font-family: $first-font;
  font-weight: 600;
  font-size: 56px;
}

@mixin h4-title {
  font-family: $first-font;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: $light;
}


@mixin hover-effect {
  font-family: $first-font;
  color: $text-color;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  transition: color $tr ease;
  
  @include respond-to(mobile) {
    font-size: 14px;
  }


  &:hover {
    color: $accent;
  }

  &.active {
    color: $accent;
    border-bottom: 2px solid $accent;
    margin-bottom: -30px;

    @include respond-to(tablet) {
      margin-bottom: -23px;
    }

    @include respond-to(mobile) {
      margin-bottom: 8px;
    }
  }
}

@mixin respond-to($breakpoint) {
  @if $breakpoint ==tablet {
    @media (max-width: 875px) {
      @content;
    }
  }

  @else if $breakpoint ==mobile {
    @media (max-width: 480px) {
      @content;
    }
  }
}