$first-font : 'Proxima Nova Condensed',
sans-serif;
$second-font : 'Proxima Nova',
sans-serif;
$third-font : 'Arial',
sans-serif;

$text-color: #444444;
$light: #fff;
$accent: #A30C33;
$red: #b01736;

$tr: 0.3s;

$tablet: 768px;
$mobile: 480px;
